# Node
node_modules/
dist/

# Python
__pycache__/
*.pyc
venv/
env/
.env

# Flutter
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies

# OS
.DS_Store
Thumbs.db

# Secrets
*.key
*.pem
.env.*
